.navbarItem {
  display: flex;
  align-items: center;
}

.navbarItem button {
  padding: 8px 16px;
  margin: 0 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f5f5f5;
  font-weight: bold;
  font-size: 14px;
}

.navbarItem button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}